.App-container {
	padding: 3rem;
	width: 100vw;
	height: 100vh;
}

.CategoryItem-container {
	margin-left: 20px;
	padding-left: 10px;
	border-left: solid black 1px;
}

.CategoryItem-content {
	display: flex;
	justify-content: space-between;
}

.CategoryItem-expand-indicator {
	color: rgba(0, 0, 255, 0.5);
	font-size: 20px;
	margin-right: 4px;
}

.CategoryItem-actions button {
	margin-left: 5px;
}

.CategoryTree-container {
	width: 50%;
	margin: auto;
}

.CategoryTree-input {
	width: 75%;
	margin: 0 10px 10px 20px;
}

.CategoryTree-button {
	width: 15%;
}
